<!DOCTYPE html>
<html>
<head>
  <title>Choose a Feature</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Choose a Feature</h1>
    <ul class="feature-list">
      <li><a href="/convert" class="link">Convert DOCX to PDF</a></li>
      <li><a href="/protect" class="link">Password Protect PDF</a></li>
    </ul>
  </div>
</body>
</html>
